/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}

.text:nth-child(5n + 1) {
  /* stroke: #F2385A; */
  stroke: #E0BBE4;
  /* stroke: #9400D3; */

  /* stroke: #677db9; */
  
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  /* stroke: #F5A503; */
  stroke: #957DAD;
  /* stroke: #00FF00; */
  /* stroke: #86a9e7; */
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  /* stroke: #E9F1DF; */
  stroke: #D291BC;
  /* stroke: #4B0082; */
  /* stroke: #ba1e68; */
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  /* stroke: #56D9CD; */
  stroke: #FEC8D8;
  /* stroke: #FF7F00; */
  /* stroke: #5643fd; */
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  /* stroke: #3AA1BF; */
  stroke: #FFDFD3;
  /* stroke: #0000FF; */
  /* stroke: #7649fe; */
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
/* Other styles */
.homepage {
  height: 100vh;
}

.con_ani {
  /* background: #111; */
  background-size: .2em 100%;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0;
}

svg {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1245px) {

  .text{
    stroke-width: 4.5;
  }
  .con_ani {
    font: 11.5em/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 1026px) {

  .text{
    stroke-width: 4;
  }
  .con_ani {
    font: 9.5em/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 815px) {

  .text{
    stroke-width: 4;
  }
  .con_ani {
    font: 8rem/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 689px) {

  .text{
    stroke-width: 3;
  }
  .con_ani {
    font: 6rem/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 526px) {

  .text{
    stroke-width: 2;
  }
  .con_ani {
    font: 4rem/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 348px) {

  .text{
    stroke-width: 2;
  }
  .con_ani {
    font: 4rem/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 342px) {

  .text{
    stroke-width: 2;
  }
  .con_ani {
    font: 3.5rem/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 301px) {

  .text{
    stroke-width: 1;
  }
  .con_ani {
    font: 3rem/1 Open Sans, Impact;
  }
}

@media screen and (max-width: 271px) {

  .text{
    stroke-width: 1;
  }
  .con_ani {
    font: 2rem/1 Open Sans, Impact;
  }
}